{% extends "/Users/victormalkovich/work/projects/System_of_expenses/app/accounts/templates/base.html" %}
{% block content %}
Добро пожаловать в крутое приложение! Оно поможет распределить денежные расходы всей компании так, чтобы вы не запутались.
  <head>
    <title>Login</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>



{% endblock %}